body{
  background-color:rgb(240,240,240);
  font-family: 'Source Sans Pro', sans-serif;
}

div.header{
  max-width:700px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("logo_OECO.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width:700px;
  height: 300px;
}

div.options{
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

div.note{

}

div.options a{
  display: block;
  padding:15px;
  padding-left: 100px;
  font-size: 20pt;
  border-radius: 10px;
  margin:30px;
  margin-bottom: 40px;
  text-decoration: none;
  color:black;
}

div.options a:hover{
  cursor:pointer;
}

div.options a:nth-child(1){
  background-image: url(upload.png);
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: left 30px bottom 15px;
  background-origin: border-box;
  background-color: #4FB33B;
  display: block;
}

div.options a:nth-child(2){
  background-image: url(search.png);
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: left 30px bottom 15px;
  background-origin: border-box;
  background-color: #FF9354;
  display: block;
}

div.options a:nth-child(3){
  background-image: url(api.png);
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: left 30px bottom 22px;
  background-origin: border-box;
  background-color: #7776FF;
  display: block;
}

div.condition, div.drug{
  margin-bottom: 20px;
}

div.condition span, div.drug span{
  margin-left: 20px;
  padding:0px 6px 0px 6px;
  background-color: #bdc3c7;
  border-radius: 5px;
}
div.condition span:hover, div.drug span:hover{
  cursor: pointer;
  color: cornflowerblue;
}
